### 빅데이터분석개론 토픽12 복습
- 2024 . 07 . 04
------

- numpy : ndarray 제공, 한꺼번에 데이터 처리 가능
- pandas : panel data
    - 구조
        - series : 1차원 구조를 가진 하나의 열
        - dataframes : series의 모임, 복수의 열을 가짐
    - 전처리 및 데이터 추가, 삭제, 정렬, 조작에 편리
    - numpy 의존 -> list, dict, ndarray를 df로 변환이 가능해짐
    
<br>

- csv : 쉼표로 구분한 변수를 번역한 말, 첫번째 행은 속성, 개행하여 행을 표현
- 파이썬 모듈 csv로도 csv 읽을 수 있음

In [2]:
# csv 모듈로 데이터 읽기

import csv

# 한글이 깨질수도 있으니 encoding을 cp949로
f = open('../data/csv/weather.csv', 'r', encoding='cp949')
data = csv.reader(f)

cnt = 0
for row in data : 
    print (row)
    cnt += 1
    
    if cnt == 20 :
        break

['일시', '평균기온(°C)', '최대 풍속(m/s)', '평균 풍속(m/s)']
['2010-08-01', '28.7', '8.3', '3.4']
['2010-08-02', '25.2', '8.7', '3.8']
['2010-08-03', '22.1', '6.3', '2.9']
['2010-08-04', '25.3', '6.6', '4.2']
['2010-08-05', '27.2', '9.1', '5.6']
['2010-08-06', '26.8', '9.8', '8']
['2010-08-07', '27.5', '9.1', '5']
['2010-08-08', '26.6', '5.9', '4']
['2010-08-09', '26.9', '5.1', '3.1']
['2010-08-10', '25.6', '10.2', '5.5']
['2010-08-11', '24.6', '9.4', '4.8']
['2010-08-12', '23.7', '8.7', '2.6']
['2010-08-13', '24.3', '10.9', '4.6']
['2010-08-14', '25', '10.8', '4.4']
['2010-08-15', '24.5', '16.9', '10.3']
['2010-08-16', '26.2', '9.8', '3.2']
['2010-08-17', '23.9', '4.2', '1.6']
['2010-08-18', '23.4', '4.2', '2.1']
['2010-08-19', '24.3', '4', '1.9']

In [6]:
# 위의 df 중 최대풍속 열만 보고 싶다면

# csv 모듈로 데이터 읽기
f = open('../data/csv/weather.csv', 'r', encoding='cp949')
data = csv.reader(f)
header = next(data)

cnt = 0
for row in data : 
    print (row[2])
    cnt += 1
    
    if cnt == 20 :
        break

8.3
8.7
6.3
6.6
9.1
9.8
9.1
5.9
5.1
10.2
9.4
8.7
10.9
10.8
16.9
9.8
4.2
4.2
4
5

-----

- pandas 구조
    - series : 1차원 구조를 가진 데이터, dataframes에서 열을 담당
    - dataframes : series의 집합, 2차원 테이블 구조

In [8]:
# series : 1차원 배열 (ndarray)
# series 안에 리스트 넣음

import numpy as np
import pandas as pd

series = pd.Series([1, 3, 4, np.nan, 6, 8]) # nan : 결측치
series

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
# dataframes : series의 집합
# dataframes 안에 딕셔너리 넣음

name = pd.Series(['daramji', 'matbatji', 'mallang'])
age = pd.Series([2, 2, 3])
region = pd.Series(['A', 'A', 'B'])

animal_df = pd.DataFrame({'이름' : name, '나이' : age, '지역' : region})
animal_df

         이름  나이 지역
0   daramji   2  A
1  matbatji   2  A
2   mallang   3  B

In [12]:
# 이름을 index로 하기

animal_df = pd.DataFrame({'이름' : name, '나이' : age, '지역' : region})
animal_df

         이름  나이 지역
0   daramji   2  A
1  matbatji   2  A
2   mallang   3  B

In [13]:
# csv 파일 읽기

import pandas as pd
country = pd.read_csv('../data/csv/countries.csv')

country # 인덱스 번호는 판다스가 추가한 열

  Unnamed: 0 country      area     capital  population
0         KR   Korea     98480       Seoul    51780579
1         US     USA   9629091  Washington   331002825
2         JP   Japan    377835       Tokyo   125960000
3         CN   China   9596960     Beijing  1439323688
4         RU  Russia  17100000      Moscow   146748600

In [15]:
# index_col == 특정 열을 index로 할 수 있게 하는 속성

country = pd.read_csv('../data/csv/countries.csv', index_col=0)
country # 이제부터 각 행의 인덱스는 0번째 열

   country      area     capital  population
KR   Korea     98480       Seoul    51780579
US     USA   9629091  Washington   331002825
JP   Japan    377835       Tokyo   125960000
CN   China   9596960     Beijing  1439323688
RU  Russia  17100000      Moscow   146748600

In [16]:
country[['area', 'country']] # 2차원 배열에 담음

        area country
KR     98480   Korea
US   9629091     USA
JP    377835   Japan
CN   9596960   China
RU  17100000  Russia

In [17]:
country[['area']] 
# 첫번째 열만 가리킬 때는 굳이 리스트의 리스트를 만들지 않아도 됨

        area
KR     98480
US   9629091
JP    377835
CN   9596960
RU  17100000

In [18]:
# pandas도 슬라이싱이 가능

country.head()

   country      area     capital  population
KR   Korea     98480       Seoul    51780579
US     USA   9629091  Washington   331002825
JP   Japan    377835       Tokyo   125960000
CN   China   9596960     Beijing  1439323688
RU  Russia  17100000      Moscow   146748600

In [19]:
country[:3]

   country     area     capital  population
KR   Korea    98480       Seoul    51780579
US     USA  9629091  Washington   331002825
JP   Japan   377835       Tokyo   125960000

In [22]:
# 특정 행만 선택
country.loc['KR']

country          Korea
area             98480
capital          Seoul
population    51780579
Name: KR, dtype: object

In [ ]:
# 열 생성 == 딕셔너리 추가하는 것과 비슷
country['density'] = country['population'] / country['']